* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Lora", serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #000;
}
.navbar__container {
  display: flex;
  width: 90%;
  padding: 1rem 0;
  margin: auto;
}

.navbar__logo__span {
  display: block;
  margin: 0 0.5rem;
}
.navbar__list {
  flex: 1;
  justify-content: center;
}
.navbar__list {
  display: flex;
}

.navbar__list__item {
  padding: 1rem 0;
  position: relative;
}
.navbar__list__link {
  display: inline-block;
  padding: 0 1rem;
}
.navbar__list__searchbtn {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  background-color: rgb(233, 113, 0);
  color: #fff;
}
.navbar__list__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 500ms width;
}
.navbar__list__link:hover::after {
  width: 100%;
}
.search__outer {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
}
.search__div {
  height: 60%;
  background-color: rgb(233, 113, 0);
  position: relative;
  transform: translate3d(0, -100%, 0);
}
.search__div--down {
  transform: translate3d(0, 0, 0);
}
.search__form__container {
  padding-top: 8rem;
}
.search__form {
  display: flex;
  width: 100%;
}
.search__input {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(209, 129, 54);
  color: #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
}
.search__send {
  background: transparent;
  border: 0;
  color: #fff;
  margin-left: -30px;
  cursor: pointer;
}
.search__div__close {
  position: absolute;
  right: 10%;
  top: 10%;
  color: #fff;
}
.quick__links {
  text-align: center;
  color: #fff;
  padding: 1rem 0;
}
.quick__links__list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.quick__link__item {
  padding: 1rem;
  position: relative;
}
.quick__link {
  font-size: 1.8rem;
  color: #fff;
}
.quick__link::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 300ms;
}
.quick__link:hover::after {
  width: 100%;
}
.showcase {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../img/showcase.jpg") no-repeat center center / cover fixed;
  position: relative;
}
.showcase::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.212);
}
.showcase__inner {
  position: relative;
  z-index: 2;
}
.showcase__inner__title {
  font-size: 4rem;
}
.showcase__inner__secondary {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.showcase__inner__action {
  display: inline-block;
  color: #fff;
  padding: 0.9rem 1.8rem;
  background-color: #8c6028;
  font-size: 1.3rem;
  border-radius: 3px;
}
.showcase__inner__action:hover {
  background-color: #8b6738;
}
.about {
  min-height: 90vh;
  padding: 5.625rem 3.75rem 0 3.75rem;
  position: relative;
  background-color: #fafafa;
}
.about__images {
  height: 90vh;
  width: 950px;
}
.about__images__track {
  display: flex;
  width: 100%;
  height: 100%;
}
.about__image {
  height: 600px;
  flex-basis: 80%;
  margin: 0 1rem;
}
.about__image:nth-child(1) {
  background: url("../img/how\ 1.jpg") no-repeat center center / cover;
}
.about__image:nth-child(2) {
  background: url("../img/how\ 2.jpg") no-repeat center center / cover;
}
.about__text {
  position: absolute;
  right: 20%;
  top: 40%;
  width: 400px;
}
.about__text__title {
  font-size: 2.1rem;
  margin-bottom: 0.4rem;
}
.about__text__desc {
  line-height: 1.4rem;
}
.about__text__action {
  display: inline-block;
  padding: 0.7rem 1.4rem;
  position: relative;
  color: #333;
  font-weight: 700;
}
.about__text__action::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #8c6028;
  position: absolute;
  left: 0;
  bottom: 15%;
  transition: width 300ms;
}
.about__text__action:hover {
  color: #8c6028;
}
.about__text__action:hover::after {
  width: 100%;
}
.gallery {
  min-height: 60vh;
  background-color: #fafafa;
  padding: 3rem 0;
}
.container--flex {
  max-width: 1800px;
  margin: auto;
  display: flex;
}
.gallery__intro {
  display: flex;
  margin-right: 1rem;
}
.gallery__intro__text {
  padding: 0 1rem;
}

.gallery__intro__title {
  font-size: 1.7rem;
}
.gallery__intro__secondary {
  line-height: 1.4;
}
.gallery__images {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 1rem;
}
.gallery__image__link {
  display: block;
  width: 100%;
  height: 100%;
}
.newsletter {
  height: 70px;
  overflow: hidden;
}
.newsletter__text {
  display: flex;
  padding: 1.5rem;
  background-color: #333;
  color: #fff;
}
.newsletter__joinbtn {
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 0 0.5rem;
}
.newsletter__joinbtn::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #fff;
  transition: width 300ms;
}
.newsletter__joinbtn:hover::after {
  width: 100%;
}
.newsletter__form__div {
  padding: 1.5rem;
  background-color: #222222;
  color: #fff;
}
.newsletter__form {
  display: flex;
}
.newsletter__email {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
}
.newsletter__subscribe {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.footer__content {
  padding: 4rem 0;
  height: 40vh;
}
.footer__links {
  display: flex;
}
.footer__links__list {
  flex-basis: 23%;
}
.footer__links__item {
  margin: 1rem 0;
}
.footer__link {
  color: #797979;
}
.footer__link:hover {
  color: #333;
}
.footer__other__links {
  padding: 3rem;
  text-align: center;
}
.other__links--container {
  margin-bottom: 2rem;
}
.other__link__title--smaller {
  font-size: 1rem;
  color: #797979;
}
.other__link__title--bigger {
  font-size: 1.5rem;
  color: #797979;
}
.social__media__link {
  display: inline-block;
  color: #797979;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}
.social__media__link:hover {
  color: #333;
}
.text--white {
  color: #fff;
}
.text--black {
  color: #333;
}
.text--grey {
  color: #adadad;
}
.gallery__image--fit {
  width: 100%;
  height: 100%;
}
.flex--1 {
  flex: 1;
}
.container--flex {
  max-width: 1800px;
  margin: auto;
  display: flex;
}
.container {
  max-width: 1800px;
  margin: auto;
}
